@model BlogApplication.Models.BlogPost


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.MediaURL)*@
            @if (Model.MediaURL != null)
            {
                <img class="img-responsive" src="@Model.MediaURL" alt="@Model.Title">
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @foreach (var comment in Model.Comments)
            {
            <form>
                <h4>
                    @comment.Author.UserName :
                </h4>
                <p>
                    @comment.Body   
                </p>
                <p class="col-md-offset-4"> ---@comment.Created.ToString("yyyy/MM/dd HH:mm");</p>
            </form>

            }
        </dd>
    </dl>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="col-lg-offset-2">
        Submit your comment!
    </div>
    <div class="col-lg-offset-2">
        @using (Html.BeginForm("CreateComment","BlogPosts",FormMethod.Post))
        {
            <input type="hidden" name="Slug" value="@Model.Slug" />
            <textarea name="body"style="width:300px; height:80px;"></textarea>
            <br>
            <input type="submit" value="Submit" />
        }
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
